
/* WHITE */
.white{
    color: white!important;
}
.white-bg{
    background-color: white!important;
}

/* GRAY Text */
.darkest-gray{
    color: $darkest-gray!important;
}
.dark-gray{
    color: $dark-gray!important;
}
.gray{
    color: $gray!important;
}
.light-gray{
    color: $light-gray!important;
}
.lightest-gray{
    color: $lightest-gray!important;
}

/* GRAY Background  */
.darkest-gray-bg{
    background-color: $darkest-gray!important;
}
.dark-gray-bg{
    background-color: $dark-gray!important;
}
.gray-bg{
    background-color: $gray!important;
}
.light-gray-bg{
    background-color: $light-gray!important;
}
.lightest-gray-bg{
    background-color: $lightest-gray!important;
}

/* GREEN Text */
.green-1{
    color: $green-1!important;
}
.green-2{
    color: $green-2!important;
}
.green-3{
    color: $green-3!important;
}
.green-4{
    color: $green-4!important;
}
.green-5{
    color: $green-5!important;
}
.green-6{
    color: $green-6!important;
}
.green-7{
    color: $green-7!important;
}
/* GREEN Background */
.green-bg-1{
    background-color: $green-1!important;
}
.green-bg-2{
    background-color: $green-2!important;
}
.green-bg-3{
    background-color: $green-3!important;
}
.green-bg-4{
    background-color: $green-4!important;
}
.green-bg-5{
    background-color: $green-5!important;
}
.green-bg-6{
    background-color: $green-6!important;
}
.green-bg-7{
    background-color: $green-7!important;
}

/* RED Text */
.red-1{
    color: $red-1!important;
}
.red-2{
    color: $red-2!important;
}
.red-3{
    color: $red-3!important;
}
.red-4{
    color: $red-4!important;
}
.red-5{
    color: $red-5!important;
}
.red-6{
    color: $red-6!important;
}
.red-7{
    color: $red-7!important;
}
/* RED Background */
.red-bg-1{
    background-color: $red-1!important;
}
.red-bg-2{
    background-color: $red-2!important;
}
.red-bg-3{
    background-color: $red-3!important;
}
.red-bg-4{
    background-color: $red-4!important;
}
.red-bg-5{
    background-color: $red-5!important;
}
.red-bg-6{
    background-color: $red-6!important;
}
.red-bg-7{
    background-color: $red-7!important;
}

/* YELLOW Text */
.yellow-1{
    color: $yellow-1!important;
}
.yellow-2{
    color: $yellow-2!important;
}
.yellow-3{
    color: $yellow-3!important;
}
.yellow-4{
    color: $yellow-4!important;
}
.yellow-5{
    color: $yellow-5!important;
}
.yellow-6{
    color: $yellow-6!important;
}
.yellow-7{
    color: $yellow-7!important;
}
/* YELLOW Background */
.yellow-bg-1{
    background-color: $yellow-1!important;
}
.yellow-bg-2{
    background-color: $yellow-2!important;
}
.yellow-bg-3{
    background-color: $yellow-3!important;
}
.yellow-bg-4{
    background-color: $yellow-4!important;
}
.yellow-bg-5{
    background-color: $yellow-5!important;
}
.yellow-bg-6{
    background-color: $yellow-6!important;
}
.yellow-bg-7{
    background-color: $yellow-7!important;
}

/* BLUE Text */
.blue-1{
    color: $blue-1!important;
}
.blue-2{
    color: $blue-2!important;
}
.blue-3{
    color: $blue-3!important;
}
.blue-4{
    color: $blue-4!important;
}
.blue-5{
    color: $blue-5!important;
}
.blue-6{
    color: $blue-6!important;
}
.blue-7{
    color: $blue-7!important;
}
/* BLUE Background */
.blue-bg-1{
    background-color: $blue-1!important;
}
.blue-bg-2{
    background-color: $blue-2!important;
}
.blue-bg-3{
    background-color: $blue-3!important;
}
.blue-bg-4{
    background-color: $blue-4!important;
}
.blue-bg-5{
    background-color: $blue-5!important;
}
.blue-bg-6{
    background-color: $blue-6!important;
}
.blue-bg-7{
    background-color: $blue-7!important;
}
