
/* WHITE */
.white{
    color: white;
}
.white-bg{
    background-color: white;
}

/* GRAY Text */
.darkest-gray{
    color: $darkest-gray;
}
.dark-gray{
    color: $dark-gray;
}
.gray{
    color: $gray;
}
.light-gray{
    color: $light-gray;
}
.lightest-gray{
    color: $lightest-gray;
}

/* GRAY Background  */
.darkest-gray-bg{
    background-color: $darkest-gray;
}
.dark-gray-bg{
    background-color: $dark-gray;
}
.gray-bg{
    background-color: $gray;
}
.light-gray-bg{
    background-color: $light-gray;
}
.lightest-gray-bg{
    background-color: $lightest-gray;
}

/* GREEN Text */
.green-1{
    color: $green-1;
}
.green-2{
    color: $green-2;
}
.green-3{
    color: $green-3;
}
.green-4{
    color: $green-4;
}
.green-5{
    color: $green-5;
}
.green-6{
    color: $green-6;
}
.green-7{
    color: $green-7;
}
/* GREEN Background */
.green-bg-1{
    background-color: $green-1;
}
.green-bg-2{
    background-color: $green-2;
}
.green-bg-3{
    background-color: $green-3;
}
.green-bg-4{
    background-color: $green-4;
}
.green-bg-5{
    background-color: $green-5;
}
.green-bg-6{
    background-color: $green-6;
}
.green-bg-7{
    background-color: $green-7;
}

/* RED Text */
.red-1{
    color: $red-1;
}
.red-2{
    color: $red-2;
}
.red-3{
    color: $red-3;
}
.red-4{
    color: $red-4;
}
.red-5{
    color: $red-5;
}
.red-6{
    color: $red-6;
}
.red-7{
    color: $red-7;
}
/* RED Background */
.red-bg-1{
    background-color: $red-1;
}
.red-bg-2{
    background-color: $red-2;
}
.red-bg-3{
    background-color: $red-3;
}
.red-bg-4{
    background-color: $red-4;
}
.red-bg-5{
    background-color: $red-5;
}
.red-bg-6{
    background-color: $red-6;
}
.red-bg-7{
    background-color: $red-7;
}

/* YELLOW Text */
.yellow-1{
    color: $yellow-1;
}
.yellow-2{
    color: $yellow-2;
}
.yellow-3{
    color: $yellow-3;
}
.yellow-4{
    color: $yellow-4;
}
.yellow-5{
    color: $yellow-5;
}
.yellow-6{
    color: $yellow-6;
}
.yellow-7{
    color: $yellow-7;
}
/* YELLOW Background */
.yellow-bg-1{
    background-color: $yellow-1;
}
.yellow-bg-2{
    background-color: $yellow-2;
}
.yellow-bg-3{
    background-color: $yellow-3;
}
.yellow-bg-4{
    background-color: $yellow-4;
}
.yellow-bg-5{
    background-color: $yellow-5;
}
.yellow-bg-6{
    background-color: $yellow-6;
}
.yellow-bg-7{
    background-color: $yellow-7;
}
