
.darkest-gray{
    color: $darkest-gray;
}
.dark-gray{
    color: $dark-gray;
}
.gray{
    color: $gray;
}
.light-gray{
    color: $light-gray;
}
.lightest-gray{
    color: $lightest-gray;
}

.darkest-gray-bg{
    background-color: $darkest-gray;
}
.dark-gray-bg{
    background-color: $dark-gray;
}
.gray-bg{
    background-color: $gray;
}
.light-gray-bg{
    background-color: $light-gray;
}
.lightest-gray-bg{
    background-color: $lightest-gray;
}
