/* https://tailwindcss.com/docs/max-width/#app */

.max-w-xs	{max-width: 20rem!important;}
.max-w-sm	{max-width: 30rem!important;}
.max-w-md	{max-width: 40rem!important;}
.max-w-lg	{max-width: 50rem!important;}
.max-w-xl	{max-width: 60rem!important;}
.max-w-2xl	{max-width: 70rem!important;}
.max-w-3xl	{max-width: 80rem!important;}
.max-w-4xl	{max-width: 90rem!important;}
.max-w-5xl	{max-width: 100rem!important;}
.max-w-full	{max-width: 100%!important;}

.max-w-50-px{max-width: 50px!important;}
.max-w-60-px{max-width: 60px!important;}
.max-w-70-px{max-width: 70px!important;}
.max-w-80-px{max-width: 80px!important;}
.max-w-90-px{max-width: 90px!important;}
.max-w-100-px{max-width: 100px!important;}

.form-sidebar {
    flex: 0 0 18rem!important;
    @media (max-width: 767px) {
        flex: 0 1 auto!important;
        margin-bottom: 1.5rem;
    }
}
