/* https://tailwindcss.com/docs/max-width/#app */

.max-w-xs	{max-width: 20rem!important;}
.max-w-sm	{max-width: 30rem!important;}
.max-w-md	{max-width: 40rem!important;}
.max-w-lg	{max-width: 50rem!important;}
.max-w-xl	{max-width: 60rem!important;}
.max-w-2xl	{max-width: 70rem!important;}
.max-w-3xl	{max-width: 80rem!important;}
.max-w-4xl	{max-width: 90rem!important;}
.max-w-5xl	{max-width: 100rem!important;}
.max-w-full	{max-width: 100%!important;}


.form-sidebar {
    flex: 0 0 18rem!important;
    @media (max-width: 700px) {
        flex: 0 1 auto!important;
        margin-bottom: 1.5rem;
    }
}
