
/* FONT SIZE - Type scale p.105*/
.text-xs{
    font-size:12px;
    line-height: 1.4;
}
.text-sm{font-size:14px;}
.text-base{font-size:16px;}
.text-base-longtext{font-size:17px;}
.text-lg{font-size:18px;}
.text-xl{font-size:20px;}
.text-2xl{font-size:24px;}
.text-3xl{font-size:30px;}
.text-4xl{font-size:36px;}
.text-5xl{font-size:48px;}
.text-6xl{font-size:60px;}
.text-7xl{font-size:72px;}

/* LETTER SPACING */
.letter-spacing-tight{
    letter-spacing: -0.05em;
}
.letter-spacing-normal{
    letter-spacing: 0;
}
.letter-spacing-wide{
    letter-spacing: 0.05em;
}
