/*.text-xs{font-size: .75rem;}
.text-sm{font-size: .875rem;}
.text-base{font-size: 1rem;}
.text-base-longtext{font-size: 1.05rem;}
.text-lg{font-size: 1.125rem;}
.text-xl{font-size: 1.25rem;}
.text-2xl{font-size: 1.5rem;}
.text-3xl{font-size: 1.875rem;}
.text-4xl{font-size: 2.25rem;}
.text-5xl{font-size: 3rem;}*/

/* Type scale p.105*/
.text-xs{
    font-size:12px;
    line-height: 1.4;
}
.text-sm{font-size:14px;}
.text-base{font-size:16px;}
.text-base-longtext{font-size:17px;}
.text-lg{font-size:18px;}
.text-xl{font-size:20px;}
.text-2xl{font-size:24px;}
.text-3xl{font-size:30px;}
.text-4xl{font-size:36px;}
.text-5xl{font-size:48px;}
.text-6xl{font-size:60px;}
.text-7xl{font-size:72px;}
