
// Body
$body-bg: #f8fafc;

// Typography
    //$fa-font-path: '../fonts/vendor/fontawesome-pro/webfonts';
    $fa-font-path: "../../../node_modules/fontawesome-pro/webfonts";

//$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;
$font-weight-base: 400;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$darkest-gray: #13263e;
$dark-gray: #627691;
$gray: #d2ddeb;
$light-gray: #edf1f5;
$lightest-gray: #f5f7fa;
