
// Body
$body-bg: #f8fafc;

// Typography
    //$fa-font-path: '../fonts/vendor/fontawesome-pro/webfonts';
    $fa-font-path: "../../../node_modules/fontawesome-pro/webfonts";

//$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;
$font-weight-base: 400;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$darkest-gray: #13263e;
$dark-gray: #627691;
$gray: #d2ddeb;
$light-gray: #edf1f5;
$lightest-gray: #f5f7fa;

/* Green */
$green-1: hsl(138, 79%, 94%);
$green-2: hsl(142, 63%, 80%);
$green-3: hsl(145, 53%, 66%);
$green-4: hsl(145, 48%, 51%);
$green-5: hsl(144, 50%, 40%);
$green-6: hsl(144, 53%, 30%);
$green-7: hsl(155, 50%, 21%);

/* Yellow */
$yellow-1: hsl(44, 100%, 98%);
$yellow-2: hsl(43, 90%, 92%);
$yellow-3: hsl(42, 85%, 81%);
$yellow-4: hsl(40, 83%, 70%);
$yellow-5: hsl(42, 53%, 55%);
$yellow-6: hsl(40, 51%, 36%);
$yellow-7: hsl(42, 53%, 23%);

/* Red */
$red-1: hsl(0, 77%, 95%);
$red-2: hsl(358, 72%, 81%);
$red-3: hsl(359, 65%, 64%);
$red-4: hsl(357, 67%, 52%);
$red-5: hsl(357, 67%, 42%);
$red-6: hsl(358, 63%, 32%);
$red-7: hsl(358, 57%, 24%);
