body{
    h1{
        margin: 2rem 0 3rem 0;
    }
    h2{
        margin: 0 0 2rem 0;
    }
    hr{
        margin: 2rem 0;
    }
    form{
        label{
            font-weight: bold;
        }
    }
}
