
footer{
    z-index: 2;
    position: relative;

    /* Sticky everywhere, not on smartphone */
    @media screen and (min-width: 400px){
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    .footerMenu{
        a{
            padding: 8px 8px;
            display: inline-block;
            position: relative;
            
            &:hover, &:focus {
                background-color: transparent!important;
                text-decoration: none;
                &:after {
                    position: absolute;
                    z-index: -1;
                    background-color: black;
                    opacity: 0.3;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    content: '';
                }
            }
        }
    }
    &.nav_trasp{
        @media screen and (min-width: 992px) {	 // Just for DESKTOP
            background-color: transparent!important;
        }
    }
}
