form{
    .bootstrap-select{
        display: block!important;
        width: 100%!important;
        button{
            &.dropdown-toggle{
                background-color: white;
                border: 1px solid #ced4da;
            }
        }
        &.show-tick{
            .dropdown-menu{
                .selected {
                    span{
                        &.check-mark{
                            left: 10px;
                            top: 10px;
                            &:after{
                                font-size: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .radioCards{
        label{
            &.active{
                color: $green-7;
                background-color: $green-1!important;
                border: 2px solid $green-7;
            }
        }
    }
}
