form{
    .bootstrap-select{
        display: block!important;
        width: 100%!important;
        button{
            &.dropdown-toggle{
                background-color: white;
                border: 1px solid #ced4da;
            }
        }
        &.show-tick{
            .dropdown-menu{
                .selected {
                    span{
                        &.check-mark{
                            left: 10px;
                            top: 10px;
                            &:after{
                                font-size: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .radioCards{
        label{
            &.active{
                color: $green-7;
                background-color: $green-1!important;
                border: 2px solid $green-7;
                
                position:relative;
                :before{
                    content: "\25AE";  /* this is your text. You can also use UTF-8 character codes as I do here */
                    font-family: "Font Awesome 5 Pro";
                    left:-5px;
                    position:absolute;
                    top:0;
                }
            }
        }
    }
}
