body  {

    footer{
        z-index: 2;
        position: relative;
    }
}

.contactEvents{

    &.jumbotron{
        padding: 0;
        margin: 0;
    }

    .container{
        position: relative;
        z-index: 2;

        form{
            &.searchForm{

            }
        }
        .eventList{
            .date{
                .row{
                    .dateBox{
                        @media screen and (min-width: 992px){
                            min-height: 45px;
                        }
                        strong{
                            margin: auto;
                        }
                    }
                }
            }
        }

        .vcenter {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
        }
    }
    .background{
        background: #282c37;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 0;

        min-height: 100%;
        background-color: gray;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50%;
        background-size: cover;
        transition: background-image .5s ease-in-out;
        margin-bottom: 0!important;
    }
    .credits{
        z-index: 1;
        position: absolute;
        top: 4rem;
        right: 1rem;
    }
    .bg-overlay{
        background: #282c37;
        opacity: .6;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 1;
    }
}
