@import url(https://fonts.googleapis.com/css?family=Nunito);/**** JqueryUI Accordion - CSS override - plugin/contents/jw_ts ****/

/****** ACCORDION ******/

/* Slides */

.accordion.ui-state-default {
  background-color: transparent !important;
}

.accordion.ui-accordion .ui-accordion-icons {
  border-style: solid none none;
  border-width: 1px medium 0;
  padding: 24px 60px 24px 0;
  /*font-family: $font-family-avenirNextDemi;*/
  font-family: AvenirNextLTPro-Demi, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  border-radius: 0;
}

.accordion.ui-accordion .ui-accordion-header {
  border-color: #c5c5c5;
}

.accordion.ui-accordion .ui-accordion-header.ui-state-active {
  background-color: transparent;
}

.accordion.ui-accordion .ui-accordion-header .ui-icon {
  width: 40px !important;
  height: 40px !important;
  text-indent: 0 !important;
  overflow: visible !important;
}

.accordion.ui-accordion .ui-accordion-header .ui-icon:after {
  background: #fff;
  border: 2px solid #f08e0d;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f08e0d;
  content: "+" !important;
  /*font-family: $font-family-avenirNext;*/
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 27px;
  font-weight: 400;
  line-height: 33px;
  opacity: 1;
  padding: 1px 0 0 0px;
  position: absolute;
  top: -8px;
  right: 0px;
  height: 40px;
  width: 40px;
}

.accordion.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  margin-top: 0 !important;
  position: absolute;
  right: .5em;
  top: inherit !important;
  background-image: none;
}

.accordion.ui-accordion .ui-accordion-header.ui-state-active .ui-icon:after {
  content: "-" !important;
}

.accordion.ui-accordion .ui-accordion-content {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #c5c5c5;
  padding: 2rem;
  /*box-sizing:content-box;*/
  /*overflow:auto;*/
  height: auto !important;
  /*font-family: $font-family-avenirNext;*/
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  line-height: 30px;
}

.accordion.ui-accordion .ui-accordion-content a {
  /*color: $blu!important;*/
}

/**** end ACCORDION ****/

.gallery .item.animated {
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear;
}

.gallery .item.animated:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.45);
          box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.45);
}

.gallery .item a {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  display: block;
  position: relative;
}

.gallery .item a i.fa-play-circle {
  position: absolute;
  top: calc(50% - 25px);
  /* 50% - 3/4 of icon height */
  left: calc(50% - 25px);
  /* 50% - 3/4 of icon height */
  color: rgba(255, 255, 255, 0.8);
  font-size: 50px;
}

.imageWrapper {
  margin-bottom: 5px;
  position: relative;
}

.imageWrapper a .lens {
  width: 26px;
  height: 26px;
  position: absolute;
  background: url(/search.png) no-repeat right transparent;
}

.imageWrapper .imgDesc {
  background-color: #f2f2f2;
  padding: 5px 11px 5px 11px;
  line-height: 14px;
  clear: both;
  font-size: 10px;
  color: #333;
}

@media screen and (max-width: 450px) {
  .imageWrapper {
    float: none !important;
    display: block !important;
    margin: auto !important;
    margin-bottom: 1.5rem !important;
    width: 100% !important;
  }

  .imageWrapper .imgDesc {
    float: none !important;
    width: 100% !important;
  }

  .imageWrapper a {
    width: 100% !important;
    height: auto !important;
  }

  .imageWrapper a img {
    width: 100%;
    height: auto;
  }

  .imageWrapper a .lens {
    top: 0 !important;
  }
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#app > .container .card {
  margin: auto;
}

#app h1 {
  margin: 2rem 0 3rem 0;
}

